<h1>レシピの新規投稿ページ</h1>

<div class="container px-5 px-sm-0">
<div class="row">
<div class="col-md-3">

<h2>User info</h2>
  <%#= attachment_image_tag user, :profile_image,:fill,60,60,format:'jpeg',fallback: "no_image.jpeg" %>

  <table class="table">
    <tbody>
      <tr>
        <th>name</th>
        <th><%#= user.name %></th>
      </tr>
      <tr>
        <th>introduction</th>
        <th><%#= user.introduction %></th>
      </tr>
        <tr>
        <th>follows</th>
        <th><%#= link_to user.following.count, user_followings_path(user) %></th>
      </tr>
        <tr>
        <th>followers</th>
        <th><%#= link_to user.followers.count, user_followers_path(user) %></th>
      </tr>
    </tbody>
  </table>
  <div class="row">
  <%# if current_user != user %>
    <%# if current_user.following?(user) %>
      <%#= link_to 'フォロー外す', user_relationships_path(user.id), method: :delete, class: "btn btn-primary" %>
    <%# else %>
      <%#= link_to 'フォローする', user_relationships_path(user.id), method: :POST, class: "btn btn-success" %>
    <%# end %>
  <%# end %>
  </div>
  <%#= link_to "",edit_user_path(user.id),class: "btn btn-outline-secondary btn-block fas fa-user-cog"%>
</div>
<div class="col-md-7 offset-md-1">
  <h2>新規レシピ投稿</h2>
<table class="table table-hover table-inverse">
  <%= form_with model: @dish, local:true do |f| %>
  <thead>
      <%#= attachment_image_tag @dish, :image, :fill, 60, 60, fallback:"no_image.jpg" %>
    <tr>
      <th>画像</th>
      <th><%= f.attachment_field :image, placeholder:"料理画像" %></th>
    </tr>
    <tr>
      <th>料理名</th>
      <th><%= f.text_field :name %></th>
    </tr>
    <tr>
      <th>品目（主食、主菜、副菜、ほか）</th>
      <th><%= f.select :type, {'主食': 1, '主菜': 2, '副菜': 3, 'その他': 4 },{ include_blank: '選択してください'}, { class: 'form-control' , required: true } %></th>
    </tr>
    <tr>
      <th>種類（肉、野菜、魚ほか）</th>
      <th><%= f.select :list, {'肉': 1, '魚': 2, '野菜': 3, 'その他': 4 },{ include_blank: '選択してください'}, { class: 'form-control' , required: true } %></th>
    </tr>
    <%#= f.text_field :time %>
    <tr>
      <th>レシピ参考先</th>
      <th><%= f.text_field :source %></th>
    </tr>
    <tr>
      <th>メモ</th>
      <th><%= f.text_area :memo %></th>
    </tr>
    <%#= f.text_field :satisfaction %>
  </thead>
</table>
  <%= f.submit "変更を保存" %>
  <% end %>
</div>


</div>
</div>